<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
<h2>Users</h2>
<a [routerLink]="['../adduser']" color="primary" md-button>Add User</a>
</div>

<md-card class="example-card">
  <!--<md-card-header>
   
    <md-card-title>Shiba Inu</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>-->

  <md-card-content>
 <table>
  <thead>
    <tr>
    <th>Name</th>
     <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Manikandan</td>
      <td>rgsmanikandan@gmail.com</td>
    </tr>
  </tbody>
 </table>
  </md-card-content>

</md-card>