<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
<h2>Users</h2>
<a [routerLink]="['../adduser']" color="primary" md-button>Add User</a>
</div>

<mat-card class="example-card">
  <!--<mat-card-header>
   
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>-->

  <mat-card-content>
 <table>
  <thead>
    <tr>
    <th>Name</th>
     <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Manikandan</td>
      <td>rgsmanikandan@gmail.com</td>
    </tr>
  </tbody>
 </table>
  </mat-card-content>

</mat-card>