<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
  <h2>Form Generator</h2>

</div>



<mat-card class="example-card">


  <!-- <div >
          <mat-card-header>
       
        <mat-card-title>Add Designation</mat-card-title>
        
      </mat-card-header>
      
      </div> -->
  <mat-card-content>
    <form #selectControlForm="ngForm">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutWrap>


        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <div>
            <mat-form-field fxFlex>
              <mat-select placeholder="Control Type" (ngModelChange)="SelectControlType($event)" [(ngModel)]="selectedValue" name="ctype">
                <mat-option *ngFor="let ctype of controltypes" [value]="ctype">
                  {{ctype}}
                </mat-option>
              </mat-select>
            </mat-form-field>


          </div>

        </div>




      </div>
    </form>


    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
      <div fxFlex="50%">
        <div [ngSwitch]="selectedCtype" fxFlex>

          <div *ngSwitchCase="'Text Box'" fxFlex>
            <form #textboxAddForm="ngForm" (ngSubmit)="addTextbox(textboxAddForm.value)">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Label" required value="" [(ngModel)]="textboxValues.label" name="label" #labelref="ngModel">
                    </mat-form-field>
                  </div>

                </div>


                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Min Character" required value="" [(ngModel)]="textboxValues.minvalue" name="minval" #minref="ngModel">
                    </mat-form-field>
                  </div>

                </div>
                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Max Character" required value="" [(ngModel)]="textboxValues.maxvalue" name="maxval" #maxref="ngModel">
                    </mat-form-field>
                  </div>

                </div>
                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <mat-select placeholder="Value Type" required [(ngModel)]="textboxValues.chartype" name="chartype">
                        <mat-option *ngFor="let chartype of chartypes" [value]="chartype">
                          {{chartype}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>
                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-slide-toggle [(ngModel)]="textboxValues.required" required name="required">Required</mat-slide-toggle>


                  </div>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <button color="primary" type="submit" [disabled]="!textboxAddForm.form.valid" mat-raised-button>Add {{textboxValues.label}}</button>
                    <button color="" type="button" (click)="reset()" mat-raised-button>Reset</button>
                  </div>
                </div>

              </div>
            </form>


          </div>




          <div *ngSwitchCase="'Textarea'">
            <form #textareaAddForm="ngForm" (ngSubmit)="addTextarea(textareaAddForm.value)">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Label" required value="" [(ngModel)]="textareaValues.label" name="label" #labelref="ngModel">
                    </mat-form-field>
                  </div>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Min Character" required value="" [(ngModel)]="textareaValues.minvalue" name="minval" #minref="ngModel">
                    </mat-form-field>
                  </div>

                </div>
                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Max Character" required value="" [(ngModel)]="textareaValues.maxvalue" name="maxval" #maxref="ngModel">
                    </mat-form-field>
                  </div>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-slide-toggle [(ngModel)]="textareaValues.required" required name="required">Required</mat-slide-toggle>



                  </div>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <button color="primary" type="submit" [disabled]="!textareaAddForm.form.valid" mat-raised-button>Add {{textareaValues.label}}</button>
                    <button color="" type="button" (click)="reset()" mat-raised-button>Reset</button>
                  </div>
                </div>

              </div>
            </form>

          </div>





          <div *ngSwitchCase="'Radio button'">
            <form #radioAddForm="ngForm" (ngSubmit)="addRadio(radioAddForm.value)">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>


                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Label" required value="" [(ngModel)]="radioValues.label" name="label" #labelref="ngModel">
                    </mat-form-field>
                  </div>

                </div>
                <div class="input-control" *ngFor="let option of radioOptions; let i=index" [attr.data-index]="i" fxFlex="100%" fxFlex.sm="100%">

                  <mat-form-field fxFlex>
                    <input matInput placeholder='Option {{i+1}}' required value="" [(ngModel)]="radioValues.options[i]" name='option_{{i+1}}'
                      #optionref="ngModel">

                  </mat-form-field>

                  <button fxFlex *ngIf="i>=1" type="button" matTooltip="Remove Option" mat-icon-button color="warn" (click)="removeRadioOption(i)">
                    <mat-icon class="md-24">clear</mat-icon>
                  </button>

                </div>


                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">

                  <button matTooltip="Add Option" type="button" mat-icon-button color="primary" (click)="addRadioOption()">
                    <mat-icon class="md-24">add</mat-icon>
                  </button>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-slide-toggle [(ngModel)]="radioValues.required"  required name="required">Required</mat-slide-toggle>


                  </div>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <button type="submit" [disabled]="!radioAddForm.form.valid" color="primary" mat-raised-button>Add</button>
                    <button type="button" color="" (click)="reset()" mat-raised-button>Reset</button>
                  </div>
                </div>
              </div>
            </form>

          </div>






          <div *ngSwitchCase="'Checkboxes'">
            <form #checkboxAddForm="ngForm" (ngSubmit)="addCheckbox(checkboxAddForm.value)">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>


                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Label" required value="" [(ngModel)]="checkboxValues.label" name="label" #labelref="ngModel">
                    </mat-form-field>
                  </div>

                </div>
                <div class="input-control" *ngFor="let option of checkboxOptions; let i=index" [attr.data-index]="i" fxFlex="100%" fxFlex.sm="100%">

                  <mat-form-field fxFlex>
                    <input matInput placeholder='Option {{i+1}}' required value="" [(ngModel)]="checkboxValues.options[i]" name='option_{{i+1}}'
                      #optionref="ngModel">

                  </mat-form-field>

                  <button fxFlex *ngIf="i>=1" type="button" matTooltip="Remove Option" mat-icon-button color="warn" (click)="removeCheckboxOption(i)">
                    <mat-icon class="md-24">clear</mat-icon>
                  </button>

                </div>


                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">

                  <button matTooltip="Add Option" type="button" mat-icon-button color="primary" (click)="addCheckboxOption()">
                    <mat-icon class="md-24">add</mat-icon>
                  </button>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-slide-toggle [(ngModel)]="checkboxValues.required" required name="required">Required</mat-slide-toggle>


                  </div>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <button type="submit" [disabled]="!checkboxAddForm.form.valid" color="primary" mat-raised-button>Add</button>
                    <button type="button" color="" (click)="reset()" mat-raised-button>Reset</button>
                  </div>
                </div>
              </div>
            </form>
          </div>





          <div *ngSwitchCase="'Dropdown'">
            <form #dropdownAddForm="ngForm" (ngSubmit)="addDropdown(dropdownAddForm.value)">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>


                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Label" required value="" [(ngModel)]="dropdownValues.label" name="label" #labelref="ngModel">
                    </mat-form-field>
                  </div>

                </div>
                <div class="input-control" *ngFor="let option of dropdownOptions; let i=index" [attr.data-index]="i" fxFlex="100%" fxFlex.sm="100%">

                  <mat-form-field fxFlex>
                    <input matInput placeholder='Option {{i+1}}' required value="" [(ngModel)]="dropdownValues.options[i]" name='option_{{i+1}}'
                      #optionref="ngModel">

                  </mat-form-field>

                  <button fxFlex *ngIf="i>=1" type="button" matTooltip="Remove Option" mat-icon-button color="warn" (click)="removeDropdownOption(i)">
                    <mat-icon class="md-24">clear</mat-icon>
                  </button>

                </div>


                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">

                  <button matTooltip="Add Option" type="button" mat-icon-button color="primary" (click)="addDropdownOption()">
                    <mat-icon class="md-24">add</mat-icon>
                  </button>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-slide-toggle [(ngModel)]="dropdownValues.required" required name="required">Required</mat-slide-toggle>


                  </div>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <button type="submit" [disabled]="!dropdownAddForm.form.valid" color="primary" mat-raised-button>Add</button>
                    <button type="button" color="" (click)="reset()" mat-raised-button>Reset</button>
                  </div>
                </div>
              </div>
            </form>
          </div>




          <div *ngSwitchCase="'Date'">

            <form #dateAddForm="ngForm" (ngSubmit)="addDate(dateAddForm.value)">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>


                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Label" required value="" [(ngModel)]="dateValues.label" name="label" #labelref="ngModel">
                    </mat-form-field>
                  </div>

                </div>


                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <mat-slide-toggle [(ngModel)]="dateValues.required" required name="required">Required</mat-slide-toggle>


                  </div>

                </div>

                <div class="input-control" fxFlex="100%" fxFlex.sm="100%">
                  <div>
                    <button type="submit" [disabled]="!dateAddForm.form.valid" color="primary" mat-raised-button>Add</button>
                    <button type="button" color="" (click)="reset()" mat-raised-button>Reset</button>
                  </div>
                </div>
              </div>
            </form>
          </div>


        </div>
      </div>
      <div fxFlex="50%">      
        <dynamic-form [formValues]='formValues'></dynamic-form>
        
      </div>



    </div>


  </mat-card-content>





</mat-card>