<div class="app-content">

  <div class="group">

    <form role="form" (submit)="login()"><br>
      <mat-form-field>
        <input matInput type="text" required [(ngModel)]="user.username" id="username" name="username" >
        <mat-placeholder>
          <i class="material-icons app-input-icon">face</i>Username
        </mat-placeholder>
      </mat-form-field><br><br>
      <mat-form-field>
        <input matInput type="password" required [(ngModel)]="user.password" id="password" name="password" >
        <mat-placeholder >
          <i class="material-icons app-input-icon">lock_open</i>Password
        </mat-placeholder>
      </mat-form-field><br><br>
      <button mat-raised-button color="warn" type="submit" name="action">LOGIN</button><br><br>
      <div id="err"><small>{{errorMsg}}</small></div>
      <mat-slide-toggle color="primary"><small>Remember me!</small></mat-slide-toggle>
    </form >
  </div>  
</div>



