<div class="for_add" *ngIf="showAdd">
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
  <h2>Add User</h2><button type="button" color="" (click)="showManageUserPage()" mat-raised-button>Manage Users</button>

</div>

<form #userAddForm="ngForm" (ngSubmit)="AddUser(userAddForm.value)">
  <mat-card class="example-card">
    <mat-card-header>

      <mat-card-title>Login Information</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <div>
            <mat-form-field fxFlex>
              <input matInput  #usernameref="ngModel" name="username"  required placeholder="UserName" [(ngModel)]="adding_values.username"
                value="">
            </mat-form-field>
          </div>
          <div class="error-msg-block" *ngIf="usernameref.errors && (usernameref.dirty || usernameref.touched)">
            <div [hidden]="!usernameref.errors.required" class="error-msg">
              Please enter the username
            </div>
          
          </div>

        </div>



        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Password" value="" required [(ngModel)]="adding_values.password" name="password" #passwordref="ngModel">
          </mat-form-field>
          <div class="error-msg-block" *ngIf="passwordref.errors && (passwordref.dirty || passwordref.touched)">
            <div [hidden]="!passwordref.errors.required" class="error-msg">
              Please enter the password
            </div>

          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">


    <mat-card-content>



      <mat-card-header>

        <mat-card-title>User Information</mat-card-title>

      </mat-card-header>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <div>
            <mat-form-field fxFlex>
              <input matInput  placeholder="Employee ID" required value="" [(ngModel)]="adding_values.empid" name="empid" #empidref="ngModel">
            </mat-form-field>
          </div>

        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="First Name" required value="" [(ngModel)]="adding_values.firstname" name="firstname" #firstnameref="ngModel">
          </mat-form-field>
        </div>
        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Last Name" required value="" [(ngModel)]="adding_values.lastname" name="lastname" #lastnameref="ngModel">
          </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">

          <mat-radio-group [(ngModel)]="adding_values.gender" required name="gender" #genderref="ngModel">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
          </mat-radio-group>

        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
          <mat-select placeholder="Designation" fxFlex [(ngModel)]="adding_values.designation" name="designation" #designationref="ngModel">
            <mat-option *ngFor="let value of designations" [value]="value.designation">
              {{ value.designation }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>

         <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
           <mat-form-field fxFlex>
          <mat-select placeholder="Department" required fxFlex [(ngModel)]="adding_values.department" name="department" #departmentref="ngModel">
            <mat-option *ngFor="let dep of departments" [value]="dep.department">
              {{ dep.department }}
            </mat-option>
          </mat-select>
           </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
           <mat-form-field fxFlex>
          <mat-select placeholder="Role"  required fxFlex [(ngModel)]="adding_values.role" name="role" #roleref="ngModel">
            <mat-option *ngFor="let role of roles" [value]="role.role">
              {{ role.role }}
            </mat-option>
          </mat-select>
           </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
           <mat-form-field fxFlex>
          <mat-select placeholder="Shift" fxFlex [(ngModel)]="adding_values.shift" name="shift" #shiftref="ngModel">
            <mat-option *ngFor="let shift of shifts" [value]="shift">
              {{ shift }}
            </mat-option>
          </mat-select>
           </mat-form-field>
        </div>

      
        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Official Mail ID" value="" [(ngModel)]="adding_values.officemailid" name="officemailid" #officemailidref="ngModel">
          </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Personal Mail ID" required value="" [(ngModel)]="adding_values.personalmailid" name="personalmailid" #personalmailidref="ngModel">
          </mat-form-field>
        </div>


        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Mobile Number" required value="" [(ngModel)]="adding_values.mobileno" name="mobileno" #mobilenoref="ngModel">
          </mat-form-field>
        </div>
        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Phone Extension Number" value="" [(ngModel)]="adding_values.phoneextensionno" name="phoneextensionno" #mobilenoref="ngModel">
          </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  [matDatepicker]="picker" required placeholder="Date of Joining" [(ngModel)]="adding_values.doj" name="doj" #dojref="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
         
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  [matDatepicker]="picker2" placeholder="Go Live Date" [(ngModel)]="adding_values.golivedate" name="golivedate" #golivedateref="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
             <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  [matDatepicker]="picker1" required placeholder="Date of Birth" [(ngModel)]="adding_values.dob" name="dob" #dobref="ngModel">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
             <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        
        </div>


        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
           <mat-form-field fxFlex>
          <mat-select placeholder="Blood Group"  fxFlex [(ngModel)]="adding_values.bloodgroup" name="bloodgroup" #bloodgroupref="ngModel">
            <mat-option *ngFor="let blood of bloodgroups" [value]="blood">
              {{ blood }}
            </mat-option>
          </mat-select>
           </mat-form-field>
        </div>


        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Emerency Contact Number" required value="" [(ngModel)]="adding_values.emergency_contactno" name="emergency_contactno"
              #emergencycontactnoref="ngModel">
          </mat-form-field>
        </div>

 

      </div>

 <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>
 <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
               <button color="primary" class="mini-button"  mat-raised-button (click)="addTeamLead()">                 
                 <span *ngIf="showTeamLead == false">Add Team Lead</span>
                 <span *ngIf="showTeamLead == true">Remove Team Lead</span></button>
                    <button color="primary" class="mini-button"  mat-raised-button (click)="addManager()">                 
                 <span *ngIf="showManager == false">Add Manager</span>
                 <span *ngIf="showManager == true">Remove Manager</span></button>              
          </div>
 </div>


       <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>

          <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%" *ngIf="showTeamLead">
             <mat-form-field fxFlex>
          <mat-select placeholder="Team Lead" fxFlex [(ngModel)]="adding_values.teamlead" name="teamlead" #teamleadref="ngModel">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{ role.value }}
            </mat-option>
          </mat-select>
             </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%" *ngIf="showManager">
           <mat-form-field fxFlex>
          <mat-select placeholder="Manager" fxFlex [(ngModel)]="adding_values.manager" name="manager" #managerref="ngModel">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{ role.value }}
            </mat-option>
          </mat-select>
           </mat-form-field>
        </div>
      </div>


    </mat-card-content>

    <button color="primary" [disabled]="!userAddForm.form.valid" mat-raised-button>Add User</button>
      <button color=""  mat-raised-button (click)="resetUser()">Reset</button>

  </mat-card>
</form> 

</div>





<div class="for_edit" *ngIf="showEdit">
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
  <h2>Edit User</h2><button type="button" color="" (click)="showManageUserPage()" mat-raised-button>Back</button>

</div>



<form #userEditForm="ngForm" (ngSubmit)="updateUser(userEditForm.value)">
  <mat-card class="example-card">
    <mat-card-header>

      <mat-card-title>Login Information</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <div>
            <mat-form-field fxFlex>
              <input matInput  #usernameref="ngModel" name="username"  required placeholder="UserName" [(ngModel)]="selected_details.username"
                value="">
            </mat-form-field>
          </div>
          <div class="error-msg-block" *ngIf="usernameref.errors && (usernameref.dirty || usernameref.touched)">
            <div [hidden]="!usernameref.errors.required" class="error-msg">
              Please enter the username
            </div>
          
          </div>

        </div>



        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input type="password" matInput  placeholder="Password" value="" required [(ngModel)]="selected_details.password" name="password" #passwordref="ngModel">
          </mat-form-field>
          <div class="error-msg-block" *ngIf="passwordref.errors && (passwordref.dirty || passwordref.touched)">
            <div [hidden]="!passwordref.errors.required" class="error-msg">
              Please enter the password
            </div>

          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">


    <mat-card-content>



      <mat-card-header>

        <mat-card-title>User Information</mat-card-title>

      </mat-card-header>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <div>
            <mat-form-field fxFlex>
              <input matInput  placeholder="Employee ID" required value="" [(ngModel)]="selected_details.empid" name="empid" #empidref="ngModel">
            </mat-form-field>
          </div>

        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="First Name" required value="" [(ngModel)]="selected_details.firstname" name="firstname" #firstnameref="ngModel">
          </mat-form-field>
        </div>
        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Last Name" required value="" [(ngModel)]="selected_details.lastname" name="lastname" #lastnameref="ngModel">
          </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">

          <mat-radio-group [(ngModel)]="selected_details.gender" required name="gender" #genderref="ngModel">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
          </mat-radio-group>

        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
        <mat-form-field fxFlex>
          <mat-select placeholder="Designation" fxFlex [(ngModel)]="selected_details.designation" name="designation" #designationref="ngModel">
            <mat-option *ngFor="let value of designations" [value]="value.designation">
              {{ value.designation }}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>

         <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
             <mat-form-field fxFlex>
          <mat-select placeholder="Department" required fxFlex [(ngModel)]="selected_details.department" name="department" #departmentref="ngModel">
            <mat-option *ngFor="let dep of departments" [value]="dep.department">
              {{ dep.department }}
            </mat-option>
          </mat-select>
           </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
           <mat-form-field fxFlex>
          <mat-select placeholder="Role"  required fxFlex [(ngModel)]="selected_details.role" name="role" #roleref="ngModel">
            <mat-option *ngFor="let role of roles" [value]="role.role">
              {{ role.role }}
            </mat-option>
          </mat-select>
           </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
           <mat-form-field fxFlex>
          <mat-select placeholder="Shift" fxFlex [(ngModel)]="selected_details.shift" name="shift" #shiftref="ngModel">
            <mat-option *ngFor="let shift of shifts" [value]="shift">
              {{ shift }}
            </mat-option>
          </mat-select>
           </mat-form-field>
        </div>

      
        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Official Mail ID" value="" [(ngModel)]="selected_details.officemailid" name="officemailid" #officemailidref="ngModel">
          </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Personal Mail ID" required value="" [(ngModel)]="selected_details.personalmailid" name="personalmailid" #personalmailidref="ngModel">
          </mat-form-field>
        </div>


        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Mobile Number" required value="" [(ngModel)]="selected_details.mobileno" name="mobileno" #mobilenoref="ngModel">
          </mat-form-field>
        </div>
        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Phone Extension Number" value="" [(ngModel)]="selected_details.phoneextensionno" name="phoneextensionno" #mobilenoref="ngModel">
          </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            
            <input matInput  [matDatepicker]="picker" required placeholder="Date of Joining" [(ngModel)]="selected_details.doj" name="doj" #dojref="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
         
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  [matDatepicker]="picker2" placeholder="Go Live Date" [(ngModel)]="selected_details.golivedate" name="golivedate" #golivedateref="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
         
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  [matDatepicker]="picker1" required placeholder="Date of Birth" [(ngModel)]="selected_details.dob" name="dob" #dobref="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
         
        </div>


        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
           <mat-form-field fxFlex>
          <mat-select placeholder="Blood Group"  fxFlex [(ngModel)]="selected_details.bloodgroup" name="bloodgroup" #bloodgroupref="ngModel">
            <mat-option *ngFor="let blood of bloodgroups" [value]="blood">
              {{ blood }}
            </mat-option>
          </mat-select>
           </mat-form-field>
        </div>


        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
          <mat-form-field fxFlex>
            <input matInput  placeholder="Emerency Contact Number" required value="" [(ngModel)]="selected_details.emergency_contactno" name="emergency_contactno"
              #emergencycontactnoref="ngModel">
          </mat-form-field>
        </div>



      </div>


 <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>
 <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%">
               <button color="primary" class="mini-button"  mat-raised-button (click)="addTeamLead()">                 
                 <span *ngIf="showTeamLead == false">Add Team Lead</span>
                 <span *ngIf="showTeamLead == true">Remove Team Lead</span></button>
                    <button color="primary" class="mini-button"  mat-raised-button (click)="addManager()">                 
                 <span *ngIf="showManager == false">Add Manager</span>
                 <span *ngIf="showManager == true">Remove Manager</span></button>              
          </div>
 </div>
       <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start stretch" fxLayoutWrap>      


          <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%" *ngIf="showTeamLead">
             <mat-form-field fxFlex>
          <mat-select placeholder="Team Lead" fxFlex [(ngModel)]="selected_details.teamlead" name="teamlead" #teamleadref="ngModel">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{ role.value }}
            </mat-option>
          </mat-select>
             </mat-form-field>
        </div>

        <div class="input-control" fxFlex="33.33%" fxFlex.sm="50%" *ngIf="showManager">
           <mat-form-field fxFlex>
          <mat-select placeholder="Manager" fxFlex [(ngModel)]="selected_details.manager" name="manager" #managerref="ngModel">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{ role.value }}
            </mat-option>
          </mat-select>
           </mat-form-field>
        </div>
      </div>


     


    </mat-card-content>

    <button color="primary" [disabled]="!userEditForm.form.valid" mat-raised-button>Update</button>
     <button color=""  mat-raised-button (click)="resetUser()">Reset</button>

  </mat-card>
</form> 
</div>







<div class="for_list" *ngIf="showList">
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
  <h2>Manage Users</h2><button type="button" color="" (click)="showAddPage()" mat-raised-button>Add User</button>

</div>

<mat-card class="example-card">


  <mat-card-content>



  <ngx-datatable
        [rows]="users"      
        [columnMode]="'force'"
        [headerHeight]="50"
        [rowHeight]="'auto'"
        [footerHeight]="0" 
        [limit]="5"     
         class="fullscreen">
         <ngx-datatable-column name="S.No" width="80">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <strong>{{rowIndex+1}}</strong>
          </ng-template>
        </ngx-datatable-column>
         <ngx-datatable-column name="Emp ID">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <strong>{{row.empid}}</strong>
          </ng-template>
           </ngx-datatable-column>  
          <ngx-datatable-column name="User Name">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <strong>{{row.username}}</strong>
          </ng-template>
           </ngx-datatable-column>       

          <ngx-datatable-column  [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template ngx-datatable-header-template let-value="value" >
               <span>Actions</span>
              </ng-template>

              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <button mat-raised-button (click)="updateDetails(row)">Edit</button>
                   
         <button mat-raised-button (click)="deleteUser(row)">Delete</button>
                 
              </ng-template>
          </ngx-datatable-column>

          
         
      </ngx-datatable>
      
  </mat-card-content>

</mat-card>
</div>